.hero-section {

    background-color: #EEEFF1;

    .hero-section__wrapper {
        max-width: 1920px;
        margin: 0 auto;

        &-items {
            display: flex;
            flex-direction: column;
            gap: 33px;
            padding: 145px 0 141px 399px;

            h1 {
                color: #000;
                font-size: 4.8rem;
                font-weight: 500;
                line-height: 164%;
            }

            span {
                width: 540px;
                height: 67px;
                color: #727272;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 164%;
            }

            button {
                background-color: #34547A;
                color: #FFF;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 164%;
                letter-spacing: 1.6px;
                border: 0px;
                width: 225px;
                height: 65px;
                text-transform: uppercase;
                margin-top: 35px;
            }
        }
    }
}

.first-section {
    background-color: #fff;

    .first-section__wrapper {
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 112px 0 100px 0;


        h2 {
            width: 403px;
            height: 30px;
            color: #000;
            text-align: center;
            font-size: 3.2rem;
            font-weight: 500;
        }

        span {
            width: 540px;
            height: 67px;
            color: #727272;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 164%;
            letter-spacing: 0.02px;
        }
    }
}

.second-section {
    background-color: #34547A;

    .second-section__wrapper {
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        &-list {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 49px;
            padding-top: 100px;
            padding-bottom: 100px;

            &-items {
                display: flex;
                align-items: center;
                gap: 20px;

                .caption-flex {
                    display: flex;
                    flex-direction: column;
                    gap: 10px; 

                    .number {
                        font-size: 2.1rem;
                    }
                    span {
                        font-size: 1.6rem;
                    }

                }
            }
        }


    }
}

.third-section {
    background-color: #EEEFF1;

    .third-section__wrapper { 
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            padding-top: 100px;
            width: 403px;
            height: 30px;
            color: #000;
            text-align: center;
            font-size: 3.2rem;
            font-weight: 500;
        }

        span { 
            padding-top: 50px;
            width: 540px;
            height: 67px;
            color: #727272;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 164%;
        }

        .youtube {
            padding: 57px 0 100px 0;
            min-width: 1100px;
            height: 600px; 
        }
    }
}

@media only screen and (max-width: 1130px) { 
    .hero-section {
  
        .hero-section__wrapper { 
    
            &-items { 
                padding: 20px;
                
    
                h1 { 
                    font-size: 4.8rem; 
                    margin: 0 auto;
                }
    
                span {  
                    font-size: 1.6rem; 
                    margin: 0 auto;
                }
    
                button { 
                    text-align: center;
                    font-size: 1.6rem; 
                    border: 0px;
                    width: 225px;
                    height: 65px; 
                    margin: 0 auto;
                }
            }
        }
    }
    
    .first-section {
        background-color: #fff;
    
        .first-section__wrapper {
            max-width: 1920px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;  
            padding: 10px;
    
    
            h2 { 
                font-size: 3.2rem; 
            }
    
            span {
                width: 540px;
                height: 67px;
                color: #727272;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 164%;
                letter-spacing: 0.02px;
            }
        }
    }
    
    .second-section {
        background-color: #34547A;
    
        .second-section__wrapper {
            max-width: 1920px;
            margin: 0 auto; 
            align-items: center;
            color: #fff;
    
            &-list {
                display: flex;
                align-items: center; 
                padding-top: 10px;
                padding-bottom: 10px;
    
                &-items {
                    display: flex;
                    align-items: center; 
    
                    .caption-flex {
                        display: flex;
                        flex-direction: column; 
    
                        .number {
                            font-size: 2.1rem;
                        }
                        span {
                            font-size: 1rem;
                        }
    
                    }
                }
            }
    
    
        }
    }
    
    .third-section {
        background-color: #EEEFF1;
    
        .third-section__wrapper { 
            max-width: 1920px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            h2 {
                padding-top: 10px;
                width: 403px;
                height: 30px;
                color: #000;
                text-align: center;
                font-size: 4.2rem;
                font-weight: 500;
            }
    
            span { 
                padding-top: 20px;
                width: 540px;
                height: 67px;
                color: #727272;
                text-align: center;
                font-size: 2rem;
                font-weight: 400;
                line-height: 164%;
            }
    
            .youtube {
                padding: 57px 0 10px 0;
                min-width: 500px;
                height: 272px; 
            }
        }
    }
    
}

@media only screen and (max-width: 640px) {
    .hero-section { 

        .hero-section__wrapper { 
    
            &-items {
                display: flex;
                flex-direction: column; 
    
                h1 {
                    color: #000;
                    font-size: 1.8rem; 
                }
    
                span {
                    width: 200px;
                    height: 67px; 
                    font-size: 1rem; 
                    text-align: center;
                }
    
                button { 
                    font-size: .6rem;   
                    width: 100px;
                    height: 35px;  
                }
            }
        }
    }
    
    .first-section {
        background-color: #fff;
    
        .first-section__wrapper { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px 0 40px 0;
    
    
            h2 {
                width: 203px;
                height: 30px; 
                text-align: center;
                font-size: 3.2rem;
                font-weight: 500;
            }
    
            span {
                width: 340px;
                height: 67px; 
                text-align: center;
                font-size: 1.6rem; 
            }
        }
    }
    
    .second-section { 
    
        .second-section__wrapper {  
    
            &-list { 
                flex-direction: column;
                align-items: center;
                gap: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
    
                &-items {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2px;
    
                    .caption-flex {
                        display: flex;
                        flex-direction: column;
                        gap: 10px; 
    
                        .number {
                            font-size: 1.1rem;
                        }
                        span {
                            font-size: 0.8rem;
                        }
    
                    }
                }
            }
    
    
        }
    }
    
    .third-section { 
    
        .third-section__wrapper {    
            justify-content: center;
            align-items: center;
    
            h2 {
                padding-top: 10px;
                width: 203px;
                height: 30px; 
                text-align: center;
                font-size: 2.2rem; 
            }
    
            span { 
                padding-top: 5px;
                width: 340px;
                height: 67px; 
                text-align: center;
                font-size: 1.6rem; 
            }
    
            .youtube {
                padding: 57px 0 10px 0;
                min-width: 400px;
                height: 250px; 
            }
        }
    }
    
}